/* General styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f8f9;
  color: #333;
}

/* Form styles */
form {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

form label {
  display: block;
  font-size: 1rem;
  margin-bottom: 8px;
  color: #004d61;
}

form input[type="file"],
form input[type="text"],
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #d6e9ee;
  border-radius: 5px;
  font-size: 1rem;
  color: #004d61;
  background-color: #eef7f8;
}

form input[type="submit"],
form button {
  background-color: #1b8c78;
  color: #fff;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form input[type="submit"]:hover,
form button:hover {
  background-color: #166c5d;
}

form div {
  margin-bottom: 15px;
}

/* Heading styles */
h3 {
  text-align: center;
  color: #1b8c78;
  margin: 20px auto;
}

/* Chart container styles */
.chart-container {
  text-align: center;
  margin: 20px auto;
}

.chart-container img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

table th, table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #d6e9ee;
}

table th {
  background-color: #1b8c78;
  color: white;
  font-size: 1.1rem;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #e0f7fa;
}

table td {
  font-size: 1rem;
  color: #333;
}

/* Responsive design */
@media (max-width: 768px) {
  form {
      padding: 15px;
  }

  form input[type="file"],
  form input[type="text"],
  form select {
      font-size: 0.9rem;
  }

  form input[type="submit"],
  form button {
      font-size: 0.9rem;
  }

  table th, table td {
      padding: 8px;
  }

  table th {
      font-size: 1rem;
  }

  table td {
      font-size: 0.9rem;
  }
}


/* Estilo del modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 90%;
}
.modal-content h2 {
  margin: 0 0 10px;
}
.close-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 15px;
}
.close-button:hover {
  background-color: #d32f2f;
}